<div id="default-theme-1">
  <div class="{{if isTrue "theme-choice-1"}}">

    {{#paper-card class="blog-container" as |card|}}
      {{#card.title class="blog-container" as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}<h1>{{blog.title}}</h1>{{/text.headline}}
          {{#text.subhead}}<h2>Blog Post Sub-Title</h2>{{/text.subhead}}
        {{/title.text}}
      {{/card.title}}

      {{#card.content class="layout-row layout-align-space-between card-content"}}
        <p>Migas air plant 8-bit, salvia YOLO distillery polaroid typewriter blue bottle mustache vaporware. Pabst cronut small batch gluten-free vegan, drinking vinegar chillwave before they sold out yuccie cray. Poke cliche green juice polaroid cardigan
          kitsch. PBR&B meditation wolf hashtag asymmetrical. Everyday carry farm-to-table jean shorts, knausgaard tbh readymade mlkshk. Chambray kogi master cleanse, la croix fixie crucifix semiotics woke. Pork belly swag thundercats, intelligentsia
          occupy bitters scenester. Fashion axe mustache vegan prism. Meggings activated charcoal copper mug roof party. Man braid occupy ethical health goth, tbh shabby chic la croix organic YOLO brooklyn banh mi slow-carb. Lyft marfa tbh coloring book
          you probably haven't heard of them. Viral pabst paleo, fanny pack ennui tousled taxidermy meggings banh mi. Master cleanse pork belly trust fund four loko leggings marfa. Hella wayfarers pinterest freegan pork belly, keffiyeh air plant seitan
          lyft biodiesel blue bottle normcore drinking vinegar pabst.</p>
        {{#card.media size="xl" }}
          <div class="card-media"></div>
        {{/card.media}}
        {{#card.actions class="layout-column actions"}}
          {{#paper-button iconButton=true}}{{paper-icon "favorite"}}{{/paper-button}}
          {{#paper-button iconButton=true}}{{paper-icon "settings"}}{{/paper-button}}
          {{#paper-button iconButton=true}}{{paper-icon "share"}}{{/paper-button}}
        {{/card.actions}}
      {{/card.content}}
    {{/paper-card}}
  </div>
</div>
