
    <div class="layout-row flex-xs flex-gt-xs-33">
      {{#paper-card as |card|}}
        {{#card.title as |title|}}
          {{#title.text as |text|}}
            {{#text.headline}}{{blog.title}}{{/text.headline}}
            {{#text.headline}}{{blog.datePosted}}{{/text.headline}}
            <!-- {{#text.subhead}}{{blog.body}}{{/text.subhead}} -->
          {{/title.text}}
          {{title.media size="lg"  alt="Tomster" title="Tomster"}}
        {{/card.title}}
        {{#card.actions}}
          {{#paper-button}}Action 1{{/paper-button}}
          {{#paper-button}}Action 2{{/paper-button}}
        {{/card.actions}}
      {{/paper-card}}
      <p>{{blog.image_url}}</p>
  </div>
