{{link-to "dashboard" 'dashboard'}}

<h2>Login page</h2>
<p>Use login / ok</p>

<form {{action 'authenticate' on='submit'}}>
  {{input value=login placeholder='Login'}}<br>
  {{input value=password placeholder='Password' type='password'}}<br>
  <button type="submit">Login</button>
</form>
<!-- <div class="layout layout-sm-row">
  {{paper-input
    label="Password"
    flex=34
    type="password"
    value=password
    onChange=(action (mut model.password))
    errors=model.validations.attrs.password.messages
  }}
  {{paper-input
    label="E-mail"
    flex=33
    type="email"
    value=login
    onChange=(action (mut model.email))
    errors=model.validations.attrs.email.messages
  }}
  <p>


  {{#paper-button raised=true onClick=(action "authenticate")}}Button with action{{/paper-button}}
  </p>
</div> -->
