
{{#paper-form onSubmit=(action "submitSignUp") as |form|}}
  <div class="layout-row">
    <div class="layout-column flex-50">
      {{form.input label="Username" value=username onChange=(action (mut username)) required=true}}
      {{form.input label="Email" value=email onChange=(action (mut email) required=true)}}
      {{form.input label="Password" type="password" value=password onChange=(action (mut password) required=true)}}
      {{form.input label="Bio" value=bio onChange=(action (mut bio)) }}
      {{form.input label="Template" value=template onChange=(action (mut template)) }}
      {{form.input label="Theme" value=theme onChange=(action (mut theme))}}
      {{form.input label="ProfilePic" value=profilePic onChange=(action (mut profilePic)) }}
      {{form.input label="BlogPic" value=blogPic onChange=(action (mut blogPic)) }}
      {{form.input label="Facebook" value=facebook onChange=(action (mut facebook)) }}
      {{form.input label="Twitter" value=twitter onChange=(action (mut twitter)) }}
      {{form.input label="Instagram" value=instagram onChange=(action (mut instagram)) }}
    </div>
  </div>
  <div class="layout-row">
    {{#form.submit-button raised=true primary=true}}Submit{{/form.submit-button}}
  </div>
{{/paper-form}}
