{{#paper-toolbar class="navbar" }}
  <div class="md-toolbar-tools">
    {{#link-to 'index'}}{{paper-icon 'home'}}
      {{#paper-button}}Home{{/paper-button}}
    {{/link-to}}
    {{#link-to 'form'}}
      {{#paper-button}}Form{{/paper-button}}
    {{/link-to}}
    {{#link-to 'dashboard'}}
      {{#paper-button}}Dash Board{{/paper-button}}
    {{/link-to}}
    {{#link-to 'blog'}}
      {{#paper-button}}Blog{{/paper-button}}
    {{/link-to}}
    <div class="paper-right">

        {{#paper-button id="dialog-button"}}Create Blog{{/paper-button}}

      <a {{action 'openAnimatedDialog'}}>{{#paper-button id="dialog-start"}}Create Blog{{/paper-button}}</a>

      {{paper-icon 'person'}}
      {{#if session.currentUser}}
        {{#paper-button action='logout' }}Logout{{/paper-button}}
      {{else}}
        {{#link-to 'login'}}
          {{#paper-button}}Login{{/paper-button}}
        {{/link-to}}
        {{#paper-button}}Register{{/paper-button}}
      {{/if}}
    </div>
  </div>
{{/paper-toolbar}}

{{outlet}}

{{#paper-toolbar class="footer" id="dialog-end"}}
  <p>&copy; Amanda & Friends</p>
{{/paper-toolbar}}


{{#if showAnimatedDialog}}
  {{#paper-dialog class="blog-post-dialog" fullscreen=fullscreen onClose=(action "closeAnimatedDialog") openFrom="#dialog-start" closeTo="#dialog-end" }}

    {{#paper-dialog-content}}
      <h2 class="md-title">This dialog is animated!</h2>
      <a {{action 'showAnimatedDialog'}}>{{#paper-button}}Close{{/paper-button}}</a>
      <p>It opened from above, but it will close to below.</p>
      <h2 class="md-title">Create a New Blog Post!</h2>
      {{#paper-form onSubmit=(action "logForm") as |form|}}
        <div class="layout-row">
          <div class="layout-column flex-100">
            {{form.input label="Post Title" value=firstName onChange=(action (mut firstName)) required=true}}
            {{form.input label="Post Image" value=lastName onChange=(action (mut lastName))}}
            {{form.input label="Post Body" value=postBody onChange=(action (mut postBody)) textarea=true block=true required=true passThru=(hash rows=5 maxRows=5)}}
          </div>
        </div>
        <div class="layout-row">
          {{#form.submit-button raised=true primary=true}}Submit{{/form.submit-button}}
        </div>
      {{/paper-form}}

    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      <a {{action 'closeAnimatedDialog'}}>{{#paper-button}}Close{{/paper-button}}</a>
      {{#paper-button primary=true onClick=(action "closeAnimatedDialog")}}Okay!{{/paper-button}}
      {{#paper-button onClick=(action 'closeAnimatedDialog')}}Close{{/paper-button}}
      {{#paper-button primary=true}}Okay!{{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}}
