<!-- {{#paper-switch value=booleanProp1 onChange=(action (mut booleanProp1))}}
   {{booleanProp1}}
 {{/paper-switch}}

{{#if booleanProp1}}
  {{template-1}}
{{else}}
 {{template-2}}
{{/if}} -->
<div class="layout-row layout-xs-column">
    {{#each model as |blogPost|}}
        {{dash-board blog=blogPost}}
    {{/each}}
</div>
